.div-general-pages-home {
    margin-top: 72px;
}

.home-div-tittle {
    margin-top: 81px;
}

.home-h1-title {
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.home-div-buttons {
    text-align: center;
}

.home-buttons-all {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 18px;
}