.brand-navbar-llama {
    width: 45px;
    height: 45px;
    margin-left: 36px;
}

.navbar-links-general {
    justify-content: center;
}

.buttom-navbar-toggler {
    margin-right: 9px;
}

.nav-item.active {
    margin-left: 18px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 9px;
}

.nav-item.active:hover {
    background-color: rgb(255, 255, 255);
}

@media (max-width:991px) {
    .navbar-links-general {
        text-align: center;
    }
}